swagger: "2.0"
info:
  title: PricePilot Pricing API
  description: |
    Combined rule-based pricing engine and ML model for commercial property
    services (PCA Debt, PCA Equity, ESA, Zoning).

    The rule-based engine mirrors `Pricing.main_algo` from the SL_Heaven
    repository and reads the `pricing_factors` table from Keboola Storage.
    The ML model is a regressor trained on historical quote data.

    Every quote endpoint returns BOTH predictions plus a comparison block
    (delta_abs, delta_pct, rfp flag) so the agent can show users a
    rule-based answer and an ML "second opinion" in one call.
  version: "2.0"
  contact:
    name: Samanollahi Partneresi
    url: https://github.com/SamanollahiPartneresi/Pricing-API-and-more
host: pricepilot-api-1304626184.hub.keboola.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:

  /health:
    get:
      operationId: HealthCheck
      summary: Health check
      description: Liveness probe. Returns 200 OK when the service is up.
      x-ms-visibility: internal
      responses:
        "200":
          description: Service is healthy
          schema:
            $ref: "#/definitions/HealthResponse"

  /services:
    get:
      operationId: ListServices
      summary: List pricing services
      description: |
        Returns every service the engine knows about, each with its default
        base fee and the live count of pricing-factor rules currently in
        Storage. Use this to populate a dropdown of services the user can
        request a quote for.
      responses:
        "200":
          description: Service list
          schema:
            $ref: "#/definitions/ServicesResponse"

  /pricing-factors:
    get:
      operationId: GetPricingFactors
      summary: Get pricing factor rules for one service
      description: |
        Returns the raw factor rules (category, level, description, value)
        the rule-based engine uses to score a quote for the given service.
        Useful for "explain my quote" prompts.
      parameters:
        - name: service_id
          in: query
          description: |
            Order-form service id. 1 = PCA Equity, 2 = ESA, 3 = Zoning,
            4 = PCA Debt.
          required: true
          type: integer
          x-ms-summary: Service ID
          enum: [1, 2, 3, 4]
      responses:
        "200":
          description: Factor rules
          schema:
            $ref: "#/definitions/PricingFactorsResponse"

  /clients:
    get:
      operationId: ListClients
      summary: List client names (searchable, sorted)
      description: |
        Returns the known client names for a service, sorted alphabetically.
        Pass `search` to filter by substring, and `client_type` to restrict to
        clients who have booked under that client type (the reverse of the
        client scoping on /client-types). Use this to populate a searchable
        client dropdown.
      parameters:
        - name: service_id
          in: query
          description: "Order-form service id. 1 = PCA Equity, 2 = ESA, 3 = Zoning, 4 = PCA Debt."
          required: true
          type: integer
          x-ms-summary: Service ID
          enum: [1, 2, 3, 4]
        - name: search
          in: query
          description: Case-insensitive substring to filter client names by.
          required: false
          type: string
          x-ms-summary: Search
        - name: client_type
          in: query
          description: Only return clients who have booked under this client type.
          required: false
          type: string
          x-ms-summary: Client type
        - name: limit
          in: query
          description: Maximum number of clients to return (default 50).
          required: false
          type: integer
          default: 50
          x-ms-summary: Limit
      responses:
        "200":
          description: Client list
          schema:
            $ref: "#/definitions/ClientsResponse"
        "500":
          description: Lookup failure
          schema:
            $ref: "#/definitions/ErrorResponse"

  /client-types:
    get:
      operationId: ListClientTypes
      summary: List client types (searchable, sorted)
      description: |
        Returns the client/customer types for a service, sorted alphabetically.
        Pass `search` to filter by substring. Pass `client_name` to scope the
        result to that client's own type(s): a single type means it is the
        client's type (set it automatically), several means all are returned
        (most common first) because client type is NOT unique per client.
        `is_unique_for_client` reports this when `client_name` is supplied.
      parameters:
        - name: service_id
          in: query
          description: "Order-form service id. 1 = PCA Equity, 2 = ESA, 3 = Zoning, 4 = PCA Debt."
          required: true
          type: integer
          x-ms-summary: Service ID
          enum: [1, 2, 3, 4]
        - name: search
          in: query
          description: Case-insensitive substring to filter client types by.
          required: false
          type: string
          x-ms-summary: Search
        - name: client_name
          in: query
          description: Scope the client types to this client's own history.
          required: false
          type: string
          x-ms-summary: Client name
        - name: limit
          in: query
          description: Maximum number of client types to return (default 50).
          required: false
          type: integer
          default: 50
          x-ms-summary: Limit
      responses:
        "200":
          description: Client-type list
          schema:
            $ref: "#/definitions/ClientTypesResponse"
        "500":
          description: Lookup failure
          schema:
            $ref: "#/definitions/ErrorResponse"

  /quote:
    post:
      operationId: GetQuote
      summary: Get a combined rule-based and ML quote
      description: |
        Calls both the rule-based engine and the ML model with the same
        inputs and returns both totals, a per-category breakdown, the TAT
        scale (price at every turnaround day), and a comparison block.

        At minimum, supply `order_form_service_id` and `tat`. Other fields
        improve accuracy. If the rule-based engine returns RFP for the
        requested turnaround, `comparison.rule_based_total` will be the
        string `"RFP"` and `delta_pct` will be null.
      parameters:
        - name: body
          in: body
          required: true
          description: Project inputs used by both engines.
          schema:
            $ref: "#/definitions/QuoteRequest"
      responses:
        "200":
          description: Combined quote
          schema:
            $ref: "#/definitions/QuoteResponse"
        "500":
          description: Engine or ML model failure
          schema:
            $ref: "#/definitions/ErrorResponse"

definitions:

  HealthResponse:
    type: object
    properties:
      service:
        type: string
        description: Service identifier
        example: pricepilot-api
      status:
        type: string
        description: Health status
        example: ok

  ServicesResponse:
    type: object
    properties:
      services:
        type: array
        description: All known pricing services
        items:
          $ref: "#/definitions/ServiceSummary"

  ServiceSummary:
    type: object
    properties:
      order_form_service_id:
        type: integer
        description: Service id used by /quote and /pricing-factors
        example: 4
      name:
        type: string
        description: Human-readable service name
        example: PCA Debt
      base_fee_default:
        type: number
        format: float
        description: Default base fee (USD) used when the caller omits base_fee
        example: 2400.0
      factor_row_count:
        type: integer
        description: Number of pricing-factor rules currently loaded for this service
        example: 73

  PricingFactorsResponse:
    type: object
    properties:
      order_form_service_id:
        type: integer
        example: 4
      service_name:
        type: string
        example: PCA Debt
      row_count:
        type: integer
        example: 73
      rows:
        type: array
        items:
          $ref: "#/definitions/PricingFactorRow"

  PricingFactorRow:
    type: object
    properties:
      category:
        type: string
        description: Factor category (Turnaround Time, Travel Difficulty, Size, etc.)
        example: Turnaround Time
      level:
        type: string
        description: Level/key identifying the rule inside the category
        example: "10"
      description:
        type: string
        description: Human-readable description of the rule
        example: 10 days
      value:
        type: string
        description: Numeric percentage (as string) or the literal "RFP"
        example: "0.20"

  ClientsResponse:
    type: object
    properties:
      order_form_service_id:
        type: integer
        example: 4
      service_name:
        type: string
        example: PCA Debt
      client_type:
        type: string
        description: The client_type filter that was applied (null if none)
      search:
        type: string
        description: The search filter that was applied (null if none)
      count:
        type: integer
        example: 50
      clients:
        type: array
        items:
          $ref: "#/definitions/ClientOption"

  ClientTypesResponse:
    type: object
    properties:
      order_form_service_id:
        type: integer
        example: 4
      service_name:
        type: string
        example: PCA Debt
      client_name:
        type: string
        description: The client_name scope that was applied (null if none)
      search:
        type: string
        description: The search filter that was applied (null if none)
      is_unique_for_client:
        type: boolean
        description: |
          True when client_name was supplied and that client maps to a single
          client type. Null when no client_name was supplied.
      count:
        type: integer
        example: 12
      client_types:
        type: array
        items:
          $ref: "#/definitions/ClientOption"

  ClientOption:
    type: object
    properties:
      name:
        type: string
        description: Client name or client type
        example: Lender - CMBS
      n:
        type: integer
        description: Number of historical projects backing this option
        example: 128

  QuoteRequest:
    type: object
    required:
      - order_form_service_id
    properties:
      order_form_service_id:
        type: integer
        description: |
          Service to quote. 1 = PCA Equity, 2 = ESA, 3 = Zoning, 4 = PCA Debt.
        example: 4
        x-ms-summary: Service ID
        enum: [1, 2, 3, 4]
      base_fee:
        type: number
        format: float
        description: |
          Base fee (USD). Optional — when omitted, the engine uses the
          service default (PCA Equity $4,000, ESA $2,200, Zoning $2,500,
          PCA Debt $2,400).
        example: 2400.0
        x-ms-summary: Base fee (USD)
      tat:
        type: integer
        description: Turnaround time in business days
        example: 10
        x-ms-summary: Turnaround (days)
      facility_type:
        type: string
        description: Primary property type (Office, Industrial, Multi-Family, Seniors Housing, Retail, etc.)
        example: Office
        x-ms-summary: Primary property type
      building_area:
        type: number
        format: float
        description: Total building area in square feet
        example: 80000
        x-ms-summary: Building area (SF)
      land_area:
        type: string
        description: Land area (acres) — used by Zoning only
        x-ms-summary: Land area (acres)
      number_of_buildings:
        type: string
        description: Count of buildings (free-text since the engine accepts ranges like "2-5 bldgs")
        example: "2"
        x-ms-summary: Number of buildings
      number_of_stories:
        type: integer
        description: Number of stories
        example: 3
        x-ms-summary: Number of stories
      country_code:
        type: string
        description: ISO country code; non-US triggers an international surcharge
        example: US
        default: US
        x-ms-summary: Country code
      travel_difficulty:
        type: string
        description: |
          Travel difficulty description matching a factor row, e.g.
          "< 60 minute drive", "1-3 hour drive", "Easy flight".
        x-ms-summary: Travel difficulty
      prior_report:
        type: string
        description: Prior-report description (if any)
        x-ms-summary: Prior report
      site_complexity:
        type: string
        description: Site-complexity description (if any)
        x-ms-summary: Site complexity
      limit_of_liability:
        type: string
        description: Limit-of-liability bracket as text (e.g. "Less than or equal to 249,999")
        x-ms-summary: Limit of liability
      portfolio_size:
        type: string
        description: Portfolio size description (if quoting a portfolio)
        x-ms-summary: Portfolio size
      total_units:
        type: string
        description: Total units — Multi-Family and Seniors Housing only
        x-ms-summary: Total units
      percent_units_to_inspect:
        type: string
        description: Percentage of units to inspect — Multi-Family and Seniors Housing only
        x-ms-summary: Percent units to inspect
      secondary_property_type:
        type: string
        description: |
          Secondary property type / sub-type (e.g. "Warehouse/Distribution",
          "Medical Office", "Low-Rise Multifamily", "Full Service Hotel").
          Optional. The special value "Vacant Land" changes the Size pricing
          tier, so pass it when the site is undeveloped land.
        example: Vacant Land
        x-ms-summary: Secondary property type
      client_type:
        type: string
        description: |
          Client / customer-type segment (e.g. "Lender - CMBS",
          "Lender - Bank/Portfolio", "Equity - Institutional", "Developer",
          "Broker - Mortgage"). Optional. Feeds the ML model, which learned how
          fees vary by client type, so it shifts the ML prediction and range.
          The rule-based estimate ignores it.
        example: Lender - CMBS
        x-ms-summary: Client type
      is_rfp:
        type: boolean
        description: Force RFP regardless of TAT rule
        default: false
        x-ms-summary: Force RFP

  QuoteResponse:
    type: object
    properties:
      rule_based:
        $ref: "#/definitions/RuleBasedResult"
      ml:
        $ref: "#/definitions/MLResult"
      comparison:
        $ref: "#/definitions/ComparisonBlock"
      inputs:
        type: object
        description: Echo of the parsed inputs the engines saw
        additionalProperties: true
      ml_error:
        type: string
        description: Populated only if the ML model failed; null on success

  RuleBasedResult:
    type: object
    description: |
      Output of the rule-based engine (Pricing.main_algo port).
      `total_fee` is either a number or the string "RFP".
    properties:
      service_name:
        type: string
        example: PCA Debt
      order_form_service_id:
        type: integer
        example: 4
      base_fee:
        type: number
        format: float
      base_fee_default_for_service:
        type: number
        format: float
      base_fee_overridden:
        type: boolean
      factors_loaded_count:
        type: integer
        description: Number of factor rules loaded for the service
        example: 73
      is_rfp:
        type: boolean
        description: True if the rule-based engine forced RFP (typically due to TAT)
      subtotal_before_rounding:
        type: number
        format: float
      total_fee:
        description: USD total or the literal "RFP"
      fees:
        type: object
        description: Map of fee_key to amount (or "RFP")
        additionalProperties: true
      breakdown:
        type: array
        items:
          $ref: "#/definitions/BreakdownRow"
      tat_totals_by_day:
        type: object
        description: |
          Map of TAT (days as string) -> total fee at that turnaround.
          Useful for "what if I gave them more time?" follow-ups.
        additionalProperties: true

  BreakdownRow:
    type: object
    properties:
      category:
        type: string
        example: Turnaround Time
      description:
        type: string
        example: 10 days
      level:
        type: string
        example: "10"
      percentage:
        description: Percentage applied (number) or "RFP"
      fee_key:
        type: string
        example: tat_fee
      amount:
        description: Dollar amount added (number) or "RFP"

  MLResult:
    type: object
    properties:
      predicted_fee:
        type: number
        format: float
        description: ML point prediction (most-likely fee) rounded to nearest $50
        example: 7750
      predicted_fee_raw:
        type: number
        format: float
        description: Raw ML output before rounding
        example: 7705.25
      predicted_low:
        type: number
        format: float
        description: |
          Low end of the likely fee range (50th percentile / median model),
          rounded to nearest $50. Use with predicted_high to present a range.
        example: 6500
      predicted_high:
        type: number
        format: float
        description: |
          High end of the likely fee range (85th percentile model), rounded to
          nearest $50. Premium / complex / busy-period jobs land near this bound.
        example: 9200
      predicted_low_raw:
        type: number
        format: float
        description: Raw 50th-percentile output before rounding
        example: 6512.4
      predicted_high_raw:
        type: number
        format: float
        description: Raw 85th-percentile output before rounding
        example: 9183.7
      range_quantiles:
        type: array
        description: Quantiles the low/high bounds correspond to (e.g. [0.5, 0.85])
        items:
          type: number
          format: float
      predicted_multiplier:
        type: number
        format: float
        description: Multiplier the ML model applied vs the base fee
        example: 3.2105
      is_rfp:
        type: boolean

  ComparisonBlock:
    type: object
    properties:
      rule_based_total:
        description: Rule-based total in USD or "RFP"
      ml_total:
        type: number
        format: float
        description: ML point prediction (same as ml.predicted_fee)
      ml_low:
        type: number
        format: float
        description: Low end of the ML likely range (same as ml.predicted_low)
        example: 6500
      ml_high:
        type: number
        format: float
        description: High end of the ML likely range (same as ml.predicted_high)
        example: 9200
      delta_abs:
        type: number
        format: float
        description: ml_total minus rule_based_total. Null when rule is RFP.
      delta_pct:
        type: number
        format: float
        description: Percent delta vs rule_based_total. Null when rule is RFP.
      rule_based_is_rfp:
        type: boolean

  ErrorResponse:
    type: object
    properties:
      error:
        type: string
        description: "<ErrorType>: <message>"
